img {
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    width: 100%;
    color: #fff;
    background-color: #003049;
    padding-top: 5%;
    padding-bottom: 5%;
}

.highlight {
    color: #003049; 
    font-weight: bold;
}

.section-highlight {
    width: 100%;
    background-color: rgba(126, 191, 241, 0.5); 
    padding: 5px;  
}

.section img {
    width: 90%;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-transparent img {
    width: 80%;
    padding: 20px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-borders img {
    border: 12px solid #003049;
}

#footer a:hover {
    text-decoration: none;
}

.graph {
    border: 1px solid #000;
    width: 100%;
}